# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Dossiers cachés de Visual Studio / VS Code
.vs/
.vscode/

# Dossiers de compilation (si tu as du backend .NET)
bin/
obj/

# Fichiers d'environnement (Mots de passe, clés API)
.env

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignorer les images uploadées par les utilisateurs
PhotoAppApi/wwwroot/images/