@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Thème Océan (Par défaut) */
    --color-primary: #012030;
    --color-secondary: #13678A;
    --color-accent: #45C4B0;
    --color-text: #ffffff;
    --color-bg: #012030;
  }

  [data-theme='mint'] {
    /* Thème Menthe */
    --color-primary: #DAFDBA;
    --color-secondary: #9AEBA3;
    --color-accent: #13678A;
    --color-text: #012030;
    --color-bg: #DAFDBA;
  }

  [data-theme='future-dusk'] {
    /* Thème Crépuscule Futuriste */
    --color-primary: #190740;
    --color-secondary: #24078C;
    --color-accent: #8553A6;
    --color-text: #8EA3BF;
    --color-bg: #190740;
  }

  [data-theme='sea-stones'] {
    /* Thème Pierres Marines (Sea Stones) */
    --color-primary: #2E4159;
    --color-secondary: #5A758C;
    --color-accent: #F2C094;
    --color-text: #D9C7B8;
    --color-bg: #2E4159;
  }

  [data-theme='neutral'] {
    /* Thème Neutre */
    --color-primary: #FAF4E3;
    --color-secondary: #D9B2A9;
    --color-accent: #A5A68F;
    --color-text: #2C2C2C; /* Texte sombre pour la lisibilité sur fond clair */
    --color-bg: #F4EEED;
  }
}

/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

.galleryThumbnails {
  height: 400px;
  width: auto;
}